<!DOCTYPE html>
<html>
<head>
  <title>Caso <% caso.title%></title>
</head>
<body>
  <p>Titulo: <%= caso.title%></p>
  <p>Abogado: <%= abogado.name + " " + abogado.lastname%></p>
  <p>Descripcion: <%= caso.description%></p>
</body>
</html>
