<!DOCTYPE html>
<html>
<head>
  <title>Editar</title>
</head>
<body>
  <p>Titulo: <input type="input" name="title" value="<%= caso.title %>"></p>
  <p>Abogado: <input type="input" name="abogado" value="<%= abogado.name + " "+ abogado.lastname %>" disabled></p>
  <p>Descripcion: <input type="input" name="descripcion" value="<%= caso.description %>"></p>
</body>
</html>