<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
<h1>Aqui están tus casos</h1>
<% if (cases.length == 0 ){ %>
  <h2>No tienes casos.</h2>
  <p>Crea uno <a href="/login">aqui</a></p>

<% } else {%>
  <% for(var i=0; i<cases.length; i++) { %>
      <li>
          <a href='supplies/<%= supplies[i] %>'>
              <%= supplies[i] %>
          </a>
      </li>
  <% } %>
<% } %>

</body>
</html>