<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
<h1>Aqui están tus casos</h1>
<% if (cases.length == 0 ){ %>
  <h2>No tienes casos.</h2>

<% } else {%>
  <% for(var i=0; i<cases.length; i++) { %>
      <li>
          <%=cases[i].title%>
          <a href='/cases/<%= cases[i]._id %>'>Ver</a>
          <a href='/cases/<%= cases[i]._id %>/edit'>Editar</a>
          <a href='/cases/<%= cases[i]._id %>/delete'>Borrar %></a>
      </li>
  <% } %>
<% } %>

<!-- <p>Contacta un abogado <a href="/abogados">aqui</a></p> -->
<p>Crea un nuevo caso <a href="/cases/create_case">aqui</a></p>
<a href="/profile">Mi Perfil</a>

</body>
</html>