<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
<h1>Aqui están tus casos</h1>
<% if (cases == 0 ){ %>
  <h2>No tienes casos.</h2>

<% } else {%>
  <% for(var i=0; i<cases.length; i++) { %>
      <li>
          <a href='case/<%= supplies[i] %>'>
              <%= supplies[i] %>
          </a>
      </li>
  <% } %>
<% } %>
<p>Contacta un abogado <a href="/abogados">aqui</a></p>

</body>
</html>